div {
    height: 100px;
    width:100px;
    background-color: rgb(25, 227, 29);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(12, 12, 12);
   border-radius: 50%; 
   /* padding-left: 25px;
    padding-right: 25px;*/
    padding : 1px 2px 3px 4px;
    margin: 25px;

}

iddiv {
    height: 100px;
    width: 100px;
}

/* 
h1 {
    width: 200px;
    height: 50px;
    background-color: blue;
    border-width: 3px;
    border-style: dashed;
    border-color: black;
    text-align: center;
} */
